
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Details</h2>

<!--PO Head-->
<div style="border:2px solid coral; border-radius:10px; height:400px">
    <form class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-6 mb-5">
                <label for="validationTooltip01">Supplier:</label>
                <input type="text" class="form-control" id="validationTooltip01" data-bind="value: SupplierCode" disabled>
            </div>
            <div class="col-md-6 mb-5">
                <label for="validationTooltip02">Supplier Name:</label>
                <input type="text" class="form-control" id="validationTooltip02" data-bind="value: SupplierName" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip03">Stock Site:</label>
                <input type="text" class="form-control" id="validationTooltip03" data-bind="value: StockSite" disabled>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationTooltip04">Stock Name:</label>
                <input type="text" class="form-control" id="validationTooltip04" data-bind="value: StockName" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6 mb-3">
                <label for="validationTooltip03">Order Date:</label>
                <input type="text" class="form-control" id="validationTooltip03" data-bind="value: OrderDate" disabled>
            </div>
            <div class="col-lg-6 mb-3">
                <label for="validationTooltip04">Country:</label>
                <input type="text" class="form-control" id="validationTooltip04" placeholder="Country..." required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationTooltip03">Note:</label>
                <textarea rows="5" class="form-control" id="validationTooltip03" placeholder="Note..." required></textarea>
            </div>
            <div class="col-md-6 mb-3">
                <div>
                    <label for="validationTooltip04">Address</label>
                    <textarea rows="5" class="form-control" id="validationTooltip04" placeholder="Address..." required></textarea>
                </div>
                <div>
                    <label for="validationTooltip04">Post Code</label>
                    <input type="text" class="form-control" id="validationTooltip03" placeholder="Post Code..." required>
                </div>
            </div>
        </div>
    </form>
</div>
<!--PO Line - order detail grid-->
<div>
    <div class="container">
        <div style="margin-top: 60px">
            <div class="row" style="background-color:lightblue;height:30px;text-align:center">
                <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-2">
                    Part No
                </div>
                <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-2">
                    Part Description
                </div>
                <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-1">
                    Manufacturer
                </div>
                <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-1">
                    Qty Order
                </div>
                <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-2">
                    Buy Price
                </div>
                <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-2">
                    Memo
                </div>
                <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-1">
                    Total Price
                </div>
                <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-1">

                </div>
            </div>
        </div>
        <div id="show-data" data-bind="foreach: resultFromGetPOList">
            <!--$root or $parent is ok because it belongs to foreach above-->
            <div class="row" style="margin-top:10px;cursor:pointer">
                <div class="col-lg-2 table-first-col" data-bind="text: PartNo"></div>
                <div class="col-lg-2 table-second-col" data-bind="text: PartDescription"></div>
                <div class="col-lg-1 table-first-col" data-bind="text: Manufacture"></div>
                <div class="col-lg-1 table-second-col" style="display:flex;justify-content:center">
                    <input style="width:95px;height:35px;border-radius:5px;border:1px solid grey " type="text" name="QtyOrder" data-bind="text: QtyOrder" />
                </div>
                <div class="col-lg-2 table-first-col" style="display:flex;justify-content:center;">
                    <input style="width:195px;height:35px;border-radius:5px;border:1px solid grey" type="text" name="BuyPrice" data-bind="text: BuyPrice" />
                </div>
                <div class="col-lg-2 table-second-col" style="display:flex;justify-content:center;">
                    <input style="width:195px;height:35px;border-radius:5px;border:1px solid grey" type="text" name="Memo" data-bind="text: Memo" />
                </div>
                <div class="col-lg-1 table-first-col" data-bind="text: TotalPrice"></div>
                <div class="col-lg-1">
                    <span class="glyphicon glyphicon-remove-circle" style="color:red;font-size:30px"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="float:right">
    <p style="font-weight:bold">Purchase Order Price(&pound;):<span>0</span></p>
    <div style="margin-top:10px;text-align:right">
        <button class="btn btn-primary">Add Purchase Order Line</button>
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-secondary">Cancel PO</button>
        <button class="btn btn-info">Re-sent Email</button>
        <button class="btn btn-success">Save</button>
    </div>
</div>


