
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ViewModel/PODetailViewModel.js"></script>

@*<script src="~/Scripts/ViewModel/POViewModel.js"></script>*@

<div id="details">
    <h2>Details</h2>
    <h3 style="text-align:center;color:cornflowerblue;font-weight:bold">Purchase Order:@TempData["OrderNo"]<span></span></h3>
    <input id="OrderId" type="number" name="name" hidden value="@TempData["OrderNo"]"/>
    <!--PO Head Object-->
    <div style="border:2px solid coral; border-radius:10px; height:400px">
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-6 mb-5">
                    <label>Supplier:</label>
                    <input type="text" class="form-control" data-bind="value: poHeadObject().SupplierCode" disabled>
                </div>
                <div class="col-md-6 mb-5">
                    <label>Supplier Name:</label>
                    <input type="text" class="form-control" data-bind="value: poHeadObject().SupplierName" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Stock Site:</label>
                    <input type="text" class="form-control" data-bind="value: poHeadObject().StockSiteCode" disabled>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Stock Name:</label>
                    <input type="text" class="form-control" data-bind="value: poHeadObject().StockSiteName" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-6 mb-3">
                    <label>Order Date:</label>
                    <input type="text" class="form-control" data-bind="value: poHeadObject().OrderDate" disabled>
                </div>
                <div class="col-lg-6 mb-3">
                    <label>Country:</label>
                    <input type="text" class="form-control" placeholder="Country..." data-bind="value: poHeadObject().Country">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Note:</label>
                    <textarea rows="5" class="form-control" placeholder="Note..." data-bind="value: poHeadObject().Note"></textarea>
                </div>
                <div class="col-md-6 mb-3">
                    <div>
                        <label>Address</label>
                        <textarea rows="5" class="form-control" placeholder="Address..." data-bind="value: poHeadObject().Address"></textarea>
                    </div>
                    <div>
                        <label>Post Code</label>
                        <input type="text" class="form-control" placeholder="Post Code..." data-bind="value: poHeadObject().PostCode">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--PO Line - order detail grid-->
    <div>
        <div class="container">
            <div style="margin-top: 60px">
                <div class="row" style="background-color:lightblue;height:30px;text-align:center">
                    <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-2">
                        Part No
                    </div>
                    <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-2">
                        Part Description
                    </div>
                    <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-1">
                        Manufacturer
                    </div>
                    <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-1">
                        Qty Order
                    </div>
                    <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-2">
                        Buy Price
                    </div>
                    <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-2">
                        Memo
                    </div>
                    <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-1">
                        Total Price
                    </div>
                    <div style="font-weight:bold;font-size:12px;margin-top:5px;" class="col-lg-1">

                    </div>
                </div>
            </div>
            @*data-bind="text: PartNo"
                data-bind="text: PartDescription"
                    data-bind="text: Manufacture"
                     data-bind="value: QtyOrder"
                    data-bind="value: BuyPrice"
                     data-bind="value: Memo"
                    data-bind="text: TotalPrice"*@
            <div id="show-data" data-bind="foreach: POLineList">
                <div class="row" style="margin-top:10px; cursor:pointer" data-bind="$root.poLineRow">
                    <div class="col-lg-2 table-first-col" data-bind="text: Partcode"></div>
                    <div class="col-lg-2 table-second-col" data-bind="text: PartDescription"></div>
                    <div class="col-lg-1 table-first-col" data-bind="text: ManufacturName"></div>
                    <div class="col-lg-1 table-second-col" style="display:flex;justify-content:center">
                        <input style="width:95px;height:35px;border-radius:5px;border:1px solid grey " type="text" name="QtyOrder" data-bind="value: Amount" />
                    </div>
                    <div class="col-lg-2 table-first-col" style="display:flex;justify-content:center">
                        <input style="width:195px;height:35px;border-radius:5px;border:1px solid grey" type="text" name="BuyPrice" data-bind="value: BuyPrice" />
                    </div>
                    <div class="col-lg-2 table-second-col" style="display:flex;justify-content:center">
                        <input style="width:195px;height:35px;border-radius:5px;border:1px solid grey" type="text" name="Memo" data-bind="value: Memo" />
                    </div>
                    <div class="col-lg-1 table-first-col" data-bind="TotalPrice"></div>
                    <div class="col-lg-1">
                        <span class="glyphicon glyphicon-remove-circle" style="color:red;font-size:30px"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="float:right">
        <p style="font-weight:bold">Purchase Order Price(&pound;):<span>0</span></p>
        <div style="margin-top:10px;text-align:right">
            <button class="btn btn-primary">Add Purchase Order Line</button>
        </div>
        <div style="margin-top:10px">
            <button class="btn btn-secondary">Cancel PO</button>
            <button class="btn btn-info"><a href="@Url.Action("SentMail","Home")">Re-sent Email</a></button>
            <button class="btn btn-success">Save</button>
        </div>
    </div>
</div>




