
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ViewModel/PODetailViewModel.js"></script>

@*<script src="~/Scripts/ViewModel/POViewModel.js"></script>*@

<div id="details">
    <h2>Details</h2>
    <h3 class="dtTitle">Purchase Order:@TempData["OrderNo"]<span></span></h3>
    <input id="OrderId" type="number" name="name" hidden value="@TempData["OrderNo"]" />
    <!--PO Head Object-->
    <div class="dtBorder">
        <form>
            <div class="col-lg-6">
                <div>
                    <div class="col-lg-4 mg"><label>Supplier:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" data-bind="value: poHeadObject().SupplierCode" disabled>
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 mg"><label>Stock Site:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" data-bind="value: poHeadObject().StockSiteCode" disabled>
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 mg"><label>Order Date:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" data-bind="value: poHeadObject().OrderDate" disabled>
                    </div>
                </div>                
                <div>
                    <div class="col-lg-4 mg"><label>Note:</label></div>
                    <div class="col-lg-8 mg">
                        <textarea rows="5" class="form-control" placeholder="Note..." data-bind="value: poHeadObject().Note"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <div class="col-lg-4 mg"><label>Supplier Name:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" data-bind="value: poHeadObject().SupplierName" disabled>
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 mg"><label>Stock Name:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" data-bind="value: poHeadObject().StockSiteName" disabled>
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 mg"><label>Country<sup class="dtSup">*</sup>:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" placeholder="Country..." data-bind="value: poHeadObject().Country">
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 mg"><label>Address<sup class="dtSup">*</sup>:</label></div>
                    <div class="col-lg-8 mg">
                        <textarea rows="5" class="form-control" placeholder="Address..." data-bind="value: poHeadObject().Address"></textarea>
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 mg"><label>Post Code<sup class="dtSup">*</sup>:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" placeholder="Post Code..." data-bind="value: poHeadObject().PostCode">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--PO Line - order detail grid-->

    <div class="mgMain">
        <div class="row divRow">
            <div class="col-lg-2 divCol">
                Part No
            </div>
            <div class="col-lg-2 divCol">
                Part Description
            </div>
            <div class="col-lg-1 divCol">
                Manufacturer
            </div>
            <div class="col-lg-1 divCol">
                Qty Order
            </div>
            <div class="col-lg-2 divCol">
                Buy Price
            </div>
            <div class="col-lg-2 divCol">
                Memo
            </div>
            <div class="col-lg-1 divCol">
                Total Price
            </div>
            <div class="col-lg-1 divCol">

            </div>
        </div>
    </div>
    <div id="show-data" data-bind="foreach: POLineList">
        <div class="row mCenter" data-bind="$root.poLineRow">
            <div class="col-lg-2 divCol2">
                <select disabled class="inputTag dtInputWid">
                    <option data-bind="text: PartCode"></option>
                </select>
            </div>
            <div class="col-lg-2 divCol" data-bind="text: PartDescription"></div>
            <div class="col-lg-1 divCol" data-bind="text: ManufactureName"></div>
            <div class="col-lg-1 divCol2">
                <input class="inputTag form-control dtTextAlign" type="text" name="QtyOrder" data-bind="value: Amount" />
            </div>
            <div class="col-lg-2 divCol2">
                <input class="inputTag form-control dtTextAlign" type="text" name="BuyPrice" data-bind="value: BuyPrice" />
            </div>
            <div class="col-lg-2 divCol2">
                <input class="inputTag form-control" type="text" name="Memo" data-bind="value: Memo" />
            </div>
            <div class="col-lg-1 divCol dtTextAlign" data-bind="text: TotalPrice"></div>
            <div class="col-lg-1 divCol2">
                <span class="glyphicon glyphicon-remove-circle dtIcon"></span>
            </div>
        </div>
    </div>
    <!--Buttons-->
    <div>
        <div class="mgButton">
            <p class="dtBold">Purchase Order Price(&pound;):<span data-bind="text: sumTotalPrice()"></span></p>
        </div>
        <div class="mgButton">
            <a>Add Purchase Order Line</a>
        </div>
        <div class="mgButton">
            <button class="btn btn-secondary">Cancel PO</button>
            <button class="btn btn-secondary"><a href="@Url.Action("SentMail","Home")">Re-sent Email</a></button>
            <button class="btn btn-success">Save</button>
        </div>
    </div>
</div>




