
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ViewModel/PODetailViewModel.js"></script>

<div id="details" class="container">
    <h2 class="dtBold">Purchase Order Details</h2>
    <h4 class="warning" data-bind="text:'Warning: this PO can not be edit because aldready cancelled', visible: poHeadObject().Cancel"></h4>
    <h3 class="dtTitle">Purchase Order:@TempData["OrderNo"]<span></span></h3>
    <input id="OrderId" type="number" hidden value="@TempData["OrderNo"]" />
    <!--PO Head Object-->
    <div class="dtBorder">
        <form>
            <div class="col-lg-6">
                <div>
                    <div class="col-lg-4 mg"><label>Supplier:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" data-bind="value: poHeadObject().SupplierCode" disabled>
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 mg"><label>Stock Site:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" data-bind="value: poHeadObject().StockSiteCode" disabled>
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 mg"><label>Order Date:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" data-bind="value: poHeadObject().OrderDate" disabled>
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 mg"><label>Note:</label></div>
                    <div class="col-lg-8 mg">
                        <textarea rows="5" class="form-control" placeholder="Note..." data-bind="value: poHeadObject().Note, disable: poHeadObject().Cancel"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <div class="col-lg-4 mg"><label>Supplier Name:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" data-bind="value: poHeadObject().SupplierName" disabled>
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 mg"><label>Stock Name:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" data-bind="value: poHeadObject().StockSiteName" disabled>
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 mg"><label>County<sup class="dtSup">*</sup>:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" placeholder="Country..." data-bind="value: poHeadObject().Country, disable: poHeadObject().Cancel">
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 mg"><label>Address<sup class="dtSup">*</sup>:</label></div>
                    <div class="col-lg-8 mg">
                        <textarea rows="5" class="form-control" placeholder="Address..." data-bind="value: poHeadObject().Address, disable: poHeadObject().Cancel"></textarea>
                    </div>
                </div>
                <div>
                    <div class="col-lg-4 mg"><label>Post Code<sup class="dtSup">*</sup>:</label></div>
                    <div class="col-lg-8 mg">
                        <input type="text" class="form-control" placeholder="Post Code..." data-bind="value: poHeadObject().PostCode, disable: poHeadObject().Cancel">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--Check submittion-->
    <div class="alert alert-success" role="alert" style="display:none; margin-top: 10px;"> <span class="glyphicon  glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Form has submitted with successful </div>
    <div class="alert alert-danger" role="alert" style="display:none; margin-top: 10px;"> <span class="glyphicon  glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Please check your submission </div>
    <!--PO Line - order detail grid-->
    <div class="mgMain">
        <div class="row divRow">
            <div class="col-lg-2 divCol">
                Part No
            </div>
            <div class="col-lg-2 divCol">
                Part Description
            </div>
            <div class="col-lg-1 divCol">
                Manufacturer
            </div>
            <div class="col-lg-1 divCol">
                Qty Order
            </div>
            <div class="col-lg-2 divCol">
                Buy Price
            </div>
            <div class="col-lg-2 divCol">
                Memo
            </div>
            <div class="col-lg-1 divCol">
                Total Price
            </div>
            <div class="col-lg-1 divCol">

            </div>
        </div>
    </div>
    <div id="show-data" data-bind="foreach: POLineList, disable:poHeadObject().Cancel">
        <div class="row mCenter" style="cursor:pointer"data-bind="click: $root.getIndexObject">
            <div class="col-lg-2 divCol2">
                <!-- ko if: OrderNo -->
                <input type="text" data-bind="value: PartCode" class="inputTag dtInputWid" disabled />
                <!-- /ko -->
                <!-- ko ifnot: OrderNo -->
                <select data-bind="options: $root.poLineListExceptedExistedPOLineList, optionsText: 'Partcode', value:$root.idSelected, optionsCaption: 'Choose...'" class="inputTag dtInputWid"></select>
                <!-- /ko -->
            </div>
            <div class="col-lg-2 divCol" data-bind="text: PartDescription"></div>
            <div class="col-lg-1 divCol" data-bind="text: ManufactureName"></div>
            <div class="col-lg-1 divCol2">
                @*disable:$root.poHeadObject().Cancel used root because polinelist and pohead are the same level, access to father*@
                <input class="inputTag form-control dtTextAlign" type="text" data-bind="value: Amount, disable:$root.poHeadObject().Cancel" />
            </div>
            <div class="col-lg-2 divCol2">
                <input class="inputTag form-control dtTextAlign" type="text" data-bind="value: Price, disable:$root.poHeadObject().Cancel" />
            </div>
            <div class="col-lg-2 divCol2">
                <input class="inputTag form-control" type="text" data-bind="value: Memo, disable:$root.poHeadObject().Cancel" />
            </div>
            <div class="col-lg-1 divCol dtTextAlign" data-bind="text: TotalPrice"></div>
            <div class="col-lg-1 divCol2">
                <button class="btnDelete" data-bind="click: function(){$parent.deletePOLine($data)}, disable:$root.poHeadObject().Cancel"><i class="glyphicon glyphicon-remove-circle dtIcon"></i></button>
            </div>
        </div>
    </div>
    <!--Buttons-->
    <div>
        <div class="mgButton">
            <p class="dtBold">Purchase Order Price(&pound;):<span data-bind="text: sumTotalPrice"></span></p>
        </div>
        <div class="mgButton">
            <button class="btn btn-link" data-bind="click: addPOLine,disable:poHeadObject().Cancel">Add Purchase Order Line</button>
        </div>
        <div class="mgButton">
            <button id="btnCancelPO" class="btn btn-secondary" data-toggle="modal" data-target="#dialog-confirm" data-bind="disable:poHeadObject().Cancel">Cancel PO</button>
            <button class="btn btn-secondary"><a data-bind="attr:{href: '@Url.Action("SentMail","Home", new {id = TempData["OrderNo"]})'},click:handleCancel">Re-send Email</a></button>
            <button id="btnSave" class="btn btn-success" data-bind="click: updatePODetail, disable:poHeadObject().Cancel">Save</button>
        </div>
    </div>
    @*this use for bootstrap dialog, dialog for cancel po*@
    <div class="modal fade" id="dialog-confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cancel PO Dialog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure about cancel this PO???
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bind="click: cancelPO">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

