@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/ViewModel/POViewModel.js"></script>

<div id="index" class="mgMain">
    <h2><strong>Purchasing Order List</strong></h2>
    <div class="smButton">
        <div class="row divRow">
            <div class="col-lg-1 divCol">
                Order No:
            </div>
            <div class="col-lg-1 divCol">
                Supplier:
            </div>
            <div class="col-lg-2 divCol">
                Stock Site:
            </div>
            <div class="col-lg-3 divCol">
                Stock Name:
            </div>
            <div class="col-lg-2 divCol">
                Order Date:
            </div>
            <div class="col-lg-2 divCol">
                Last Update:
            </div>
            <div class="col-lg-1 divCol">
                Sent Mail:
            </div>
        </div>
        <div id="show-data" data-bind="foreach: resultFromGetPOList">
            <div class="row box mCenter">
                <div class="col-lg-1 divCol">
                    <a data-bind="attr: { href: '../Home/Details/' + OrderNo}"><span data-bind="text:OrderNo"></span></a>
                </div>
                <div class="col-lg-1 divCol" data-bind="text: SupplierCode"></div>
                <div class="col-lg-2 divCol" data-bind="text: StockSiteCode"></div>
                <div class="col-lg-3 divCol" data-bind="text: StockSiteName"></div>
                <div class="col-lg-2 divCol" data-bind="text: OrderDate"></div>
                <div class="col-lg-2 divCol" data-bind="text: LastUpdate"></div>
                <div class="col-lg-1 divCol">
                    <input type="checkbox" name="sent-mail" data-bind="checked: SentEmail" disabled />
                </div>
            </div>
        </div>
    </div>
</div>
