
@{
    ViewBag.Title = "SentMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sent Mail Page</h2>

<h3 class="smTitle">Email Purchase Order(s) to Supplier(s) for deal ref</h3>
<form class="smForm">
    <div class="smNum">
        <p>Purchase Order <span>@TempData["OrderNo"]</span></p>
    </div>
    <div class="smSpace">
        <div class="form-group row">
            <label class="col-sm-1">From:</label>
            <div>
                <input type="email" class="form-control maxWidth" placeholder="From Email...">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1">To:</label>
            <div>
                <input type="email" class="form-control maxWidth" placeholder="To Email...">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1">Cc:</label>
            <div>
                <input type="email" class="form-control maxWidth" placeholder="Cc...">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1">Subject:</label>
            <div>
                <input type="email" class="form-control maxWidth" placeholder="Subject...">
            </div>
        </div>
        <div>
            <textarea rows="10" class="form-control maxWidth smTexarea" placeholder="Content..."></textarea>
        </div>
    </div> 
</form>
<div class="smButton">
    <button class="btn btn-success"><span class="glyphicon glyphicon-envelope"></span>Sent Email</button>
    <button class="btn btn-secondary"><span class="glyphicon glyphicon-ban-circle"></span><a href="@Url.Action("Index","Home")">Sent Email Later, go to PO tab</a></button>
</div>