@{
    ViewBag.Title = "SentMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ViewModel/SentMailViewModel.js"></script>

<h2 class="smSubject">Sent Mail Page</h2>

<div class="alert alert-danger" role="alert" style="display:none; margin-top: 10px;"> <span class="glyphicon  glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Please check your submission </div>
<h3 class="smTitle">Email Purchase Order(s) to Supplier(s) for deal ref</h3>
<div style="margin-left:30px" id="send-mail">
    <input id="smOrderId" type="number" hidden value="@TempData["OrderNo"]" />
    <div class="col-lg-5">
        <div class="row divRow">
            <div class="col-lg-1 divCol">
            </div>
            <div class="col-lg-2 divCol">
                PO Num:
            </div>
            <div class="col-lg-3 divCol">
                Supplier:
            </div>
            <div class="col-lg-3 divCol">
                Stock Site:
            </div>
            <div class="col-lg-3 divCol">
                Post Code:
            </div>
        </div>
        <div class="row box2 mCenter">
            <div class="col-lg-1 divCol">
                <input type="checkbox" data-bind="checked: smObject().SentEmail" disabled />
            </div>
            <div class="col-lg-2 divCol" data-bind="text: smObject().OrderNo"></div>
            <div class="col-lg-3 divCol" data-bind="text: smObject().SupplierCode"></div>
            <div class="col-lg-3 divCol" data-bind="text: smObject().StockSiteCode"></div>
            <div class="col-lg-3 divCol" data-bind="text: smObject().PostCode"></div>
        </div>
    </div>
    <div class="col-lg-7">
        <form class="smForm">
            <div class="smNum">
                <p class="smOrderNoTitle">Purchase Order: <span>@TempData["OrderNo"]</span></p>
            </div>
            <div class="smSpace">
                <div class="form-group row">
                    <div class="col-lg-2"><label class="col-sm-1">From:</label></div>
                    <div class="col-lg-4">
                        <input type="email" class="form-control maxWidth" data-bind="value: sentMailObser().From" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2"><label class="col-sm-1">To:</label></div>
                    <div class="col-lg-4">
                        <input type="email" class="form-control maxWidth" data-bind="value: sentMailObser().To">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2"><label class="col-sm-1">Cc:</label></div>
                    <div class="col-lg-4">
                        <input type="email" class="form-control maxWidth" data-bind="value: sentMailObser().Cc">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2"><label class="col-sm-1">Subject:</label></div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control maxWidth" data-bind="value: sentMailObser().Subject">
                    </div>
                </div>
                <div>
                    <textarea rows="10" class="form-control maxWidth smTexarea" data-bind="value: sentMailObser().Content"></textarea>
                </div>
            </div>
        </form>
        <div class="smButton">
            <button class="btn btn-success" data-bind="click: sentMail"><span class="glyphicon glyphicon-envelope"></span> Send 1 email(s)</button>
            <button class="btn btn-secondary"><span class="glyphicon glyphicon-ban-circle"></span><a href="@Url.Action("Index","Home")"> Sent email later, go to PO tab</a></button>
        </div>
    </div>
</div>